<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/font-awesome.css" />
  </styleBundle>
  <scriptBundle path="~/Script/js">
    <include path="~/Scripts/jquery-1.9.1.js" />
    <include path="~/Scripts/bootstrap.js" />
  </scriptBundle>
</bundles>